* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--pale-blue: hsl(225, 100%, 94%);
	--very-pale-blue: hsl(225, 100%, 98%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);
	--bright-blue: hsl(245, 75%, 52%);
	--bright-blue-hover: hsl(244, 83%, 68%);
}

body {
	min-height: 100vh;
	background-image: url(./images/pattern-background-desktop.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--pale-blue);
	font-size: 16px;
	font-family: 'Red Hat Display', sans-serif;
	position: relative;
}

.card {
	max-width: 450px;
	background-color: white;
	color: var(--desaturated-blue);
	border-radius: 20px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.title {
	color: var(--dark-blue);
	font-weight: 900;
	font-size: 32px;
}

.hero-img {
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 52px;
	font-size: 18px;
}

.container > * {
	margin: 13px 0;
}

.container strong {
	color: var(--dark-blue);
}

.order-description {
	line-height: 25px;
}

.plan-container {
	font-size: 16px;
	background-color: var(--very-pale-blue);
	padding: 25px;
	border-radius: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.plan-container-left {
	display: flex;
	align-items: center;
	text-align: left;
}

.plan-container-left div {
	margin-left: 20px;
}

.plan-container-right a {
	color: var(--bright-blue);
	font-size: 13px;
	font-weight: 700;
}

.plan-container a:hover {
	color: var(--bright-blue-hover);
	text-decoration: none;
}

.plan-description {
	margin-right: 75px;
	line-height: 20px;
}

button {
	width: 100%;
	border: none;
	font-weight: 700;
	font-size: 0.9rem;
	border-radius: 12px;
	cursor: pointer;
}

.cancel-button {
	background-color: white;
	color: var(--desaturated-blue);
	font-weight: 700;
	border: none;
	margin-top: 22px;
}

.cancel-button:hover {
	color: black;
}

.proceed-button {
	background-color: var(--bright-blue);
	padding: 1rem 0;
	font-weight: 700;
	color: white;
	box-shadow: 0 20px 30px -8px rgb(197 189 245);
}

.proceed-button:hover {
	background-color: var(--bright-blue-hover);
}

.attribution {
	font-size: 11px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 90%;
	transform: translate(-50%, -50%);
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
	body {
		background-image: url(./images/pattern-background-mobile.svg);
		background-size: 100vw auto;
	}

	.card {
		width: 327px;
	}

	.container {
		width: 100%;
		padding: 27px;
	}

	.hero-img {
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.title {
		font-size: 22px;
	}

	.order-description {
		font-size: 15px;
		line-height: 25px;
	}

	.plan-container {
		padding: 12px;
	}

	.plan-container-left div {
		margin-left: 10px;
	}

	button {
		font-size: 15px;
	}
}
